* {
  color: #354463;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* navbar */
.nav-wrapper {
  width: 100%;
  min-height: 98px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-wrapper #title {
  width: 190px;
  font-size: 1rem;
}

.nav-wrapper .menu-group {
  flex-grow: 0.2;
}

.nav-wrapper .menu-group ul {
  font-size: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.nav-wrapper .donate-btn {
  background-color: #c1f7d5;
  width: 160px;
  height: 48px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.3rem;
  font-weight: bold;
}

/* .banner-1 */

.banner-1 .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 672px;
  position: relative;
  background: url('/img/home/annie_2x.png') top right/cover no-repeat;
}
.banner-1 .container .banner-left {
  background-color: #fff;
  width: 402px;
  height: 306px;
  color: black;
  transform: translateY(-70px);
}

.banner-1 .container .banner-left .label {
  position: relative;
  top: -15px;
  left: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  background-color: #354463;
  color: #fff;
  font-size: 0.6rem;
}

.banner-1 .banner-left h1 {
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem 2rem 0 3rem;
  height: 191px;
}
.banner-1 p {
  text-decoration: underline;
  font-size: 0.7rem;
  padding-left: 3rem;
}

.banner-1 .container .banner-right {
  position: relative;
  bottom: 100px;
  right: 100px;
  width: 296px;
  height: 224px;
  font-size: 4rem;
  display: inline-block;
}
.banner-1 .container .banner-right span {
  font-family: flood-std, sans-serif;
  opacity: 1;
  color: #fff;
}

/* .actions */
.actions .action-label {
  padding: 0.5rem 1rem;
  transform: translateY(-15px);
  width: fit-content;
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #354463;
}
.actions .container {
  padding: 0 3rem;
  display: flex;
  height: 280px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #c1f7d5;
}

.actions .container .action-item {
  width: 232px;
  height: 89px;
}
.actions .container p {
  margin-top: 10px;
}

/* .artboard */
.artboard .container {
  background-color: #354463;
  padding: 4rem 1rem;
}

.artboard .container > h1 {
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.3;
  margin: 2rem auto;
  padding: 0 5.3rem;
}
.artboard .container > .label {
  cursor: pointer;
  font-size: 1rem;
  margin-left: 5.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: #fff;
  color: #354463;
}

.artboard .container .posts-wrapper {
  padding-top: 2rem;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
}

.artboard .container .post-content {
  padding: 1rem 2rem;
}

.artboard .post {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  height: 480px;
}

.artboard .post img {
  height: 200px;
  width: 100%;
}

.artboard .post-img {
  transform: translate(30px, -20px);
}

.artboard .post-content h1 {
  margin-bottom: 1rem;
}

.artboard .post-content button {
  width: 150px;
  margin-top: 1rem;
  background-color: #c1f7d5;
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 2rem;
}

/* didyouknow */
.didyouknow {
  background: url('/img/home/did-you-know-background.png') center/cover
    no-repeat;
  padding: 6rem 6rem;
}

.didyouknow .container {
  display: flex;
  justify-content: space-between;
}

.didyouknow .container .tag span {
  font-size: 2.8rem;
  display: block;
  font-family: flood-std, sans-serif;
  color: #fff;
}

.didyouknow button {
  margin-top: 2rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  background-color: #c1f7d5;
}

.didyouknow .container .posts-wrapper .post {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  position: relative;
  margin-bottom: 2rem;
}

.didyouknow .container .post .label {
  font-size: 0.8rem;
  background-color: #354463;
  color: #fff;
  padding: 0.6rem;
  position: absolute;
  top: 0;
  transform: translate(-80%, -50%);
}

.didyouknow .social-icons div {
  background-color: #c1f7d5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  margin: 0.5rem;
}
.didyouknow .container .posts-wrapper .post .post-content {
  width: 310px;
  padding-right: 3rem;
}
.didyouknow .container .posts-wrapper .post .post-content h2 {
  font-size: 1.8rem;
}

.didyouknow .container .posts-wrapper .post .post-content p {
  font-weight: 200;
}

/* Stories */
.stories {
  padding: 3rem 4rem;
}
.stories .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.stories .container .posts-wrapper {
  width: 100%;
  flex: 1;
  transform: translateX(2rem);
  z-index: 1;
}

.stories .container .posts-wrapper .post {
  padding: 2rem;
  color: #fff;
  background: #354463;
}

.stories .container .stories-img .label {
  position: absolute;
  background-color: #354463;
  padding: 0.4rem 1rem;
  color: #fff;
  transform: translate(2rem, -50%);
}
.stories .container .stories-img img {
  width: 100%;
}

.stories .container .posts-wrapper .post h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.3;
}
.stories .container .posts-wrapper .post p {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 2rem;
}
.stories .container button {
  background-color: #c1f7d5;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 2em;
  margin-top: 2.2rem;
}

/* action banner */
.action-banner {
  background-color: #354463;
  color: #fff;
  padding: 4rem 0;
}
.action-banner .container > h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: flood-std, sans-serif;
  width: 65%;
  margin-left: 7rem;
}
.action-banner .container .wrapper .top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.action-banner .container .wrapper .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem 0;
}
.action-banner .container .wrapper .top img {
  width: 40%;
}
.action-banner .container .wrapper .bottom img {
  width: 40%;
}

.action-banner .container .wrapper .top .topright-content {
  width: 30%;
}

.action-banner .container .wrapper .bottom .bottomleft-content {
  width: 30%;
}

.action-banner .container .wrapper .top .topright-content h1 {
  width: 70%;
  margin-bottom: 2rem;
}
.action-banner .container .wrapper .top .topright-content p {
  width: 90%;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.action-banner .container .wrapper .top .topright-content button {
  background-color: #c1f7d5;
  border: none;
  padding: 0.7rem 1.5rem;
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 2em;
  cursor: pointer;
}

.action-banner .container .wrapper .bottom .bottomleft-content button {
  background-color: #c1f7d5;
  border: none;
  padding: 0.7rem 1.5rem;
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 2em;
  cursor: pointer;
}

.action-banner .container .wrapper .bottom .bottomleft-content h1 {
  width: 70%;
  margin-bottom: 2rem;
}
.action-banner .container .wrapper .bottom .bottomleft-content p {
  width: 90%;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.action-banner .container .wrapper .top .topright-content .label {
  background-color: #fff;
  color: #354463;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  font-size: 0s.8rem;
}
.action-banner .container .wrapper .bottom .bottomleft-content .label {
  background-color: #fff;
  color: #354463;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  font-size: 0s.8rem;
}

.action-banner .container .wrapper .top .topright-content h1 {
  color: #fff;
}

.action-banner .container .wrapper .bottom .bottomleft-content h1 {
  color: #fff;
}
.action-banner .container .wrapper .top .topright-content p {
  color: #fff;
}

.action-banner .container .wrapper .bottom .bottomleft-content p {
  color: #fff;
}

.subscribe {
  padding: 3rem 3rem;
  background-color: #c1f7d5;
}
.subscribe .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe .container p {
  font-size: 1.2rem;
  font-weight: bold;
}
.subscribe .container form {
  display: flex;
  width: 60%;
  gap: 2rem;
}
.subscribe .container form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5em;
}
.subscribe .container form button {
  background-color: #354463;
  color: #c1f7d5;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  width: 200px;
  border-radius: 4em;
  cursor: pointer;
}

footer {
  padding: 5rem 5rem;
}
footer .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 7rem;
}

footer .container ul {
  list-style: none;
}
footer .container .footer-logo {
  font-size: 1.2rem;
  flex: 1;
}
footer .container .footer-logo span {
  display: block;
}

footer .container ul li {
  line-height: 1.5;
}

footer .container span {
  display: block;
}
footer .container .footer-tag span {
  font-size: 3rem;
  text-align: right;
  font-family: flood-std, sans-serif;
  font-weight: 400;
  flex: 1;
}
footer .container ul li:first-child {
  border-bottom: 1px solid black;
  padding-bottom: 0.4rem;
}
footer .container ul li:nth-child(2) {
  padding-top: 0.6rem;
}

/* DONATION */
.nav-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.nav-container .logo span {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.1rem 0;
  display: block;
  background-color: #fff;
  color: #354463;
}

.main {
  background: url('/img/donation/annie-spratt-427340-unsplash.png') center
    center/cover no-repeat;
  position: relative;
}
.main .container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 8em;
}
.main .container > h1 {
  font-family: flood-std, sans-serif;
  color: #fff;
  font-size: 3rem;
  flex: 1;
  order: 2;
}
.main .container > h1 span {
  font-family: inherit;
  color: inherit;
}
.main .container > h1 span {
  display: block;
}
.main .container form {
  max-width: 600px;
  width: 95%;
  background-color: #354463;
  margin: 0 1rem;
  padding: 2rem;
  color: #fff;
  flex: 1;
}
.main .container form > div {
  margin: 0.8rem 0;
}
.main .container form > div .row-title {
  color: #fff;
  margin: 1rem 0;
}
.main .container form .row-title {
  color: #fff;
  margin: 1rem 0;
}
.main .container form .input-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem 0;
}
.main .container form .input-row label {
  flex: 1;
  color: #fff;
  font-size: 0.7rem;
}
.main .container form .actions a {
  color: #c1f7d5;
  text-decoration: underline;
}
.main .container form .input-row label input,
.main .container form .input-row label select {
  background: none;
  display: block;
  color: #fff;
  width: 100%;
  margin: 5px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #c1f7d5;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.main .container form .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.main .container form .actions button {
  color: #354463;
  background-color: #c1f7d5;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 2em;
  order: 2;
}

/*! MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES*/
@media (min-width: 768px) and (max-width: 1024px) {
  .artboard .post {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 300px;
    margin-bottom: 3rem;
  }
  .artboard .container .posts-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .artboard .post-img {
    width: 300px;
  }
  .artboard .post img {
    width: 100%;
  }
  .artboard .post-content {
    width: 400px;
  }
  .stories .container {
    flex-direction: column;
  }
  .stories .container .posts-wrapper {
    order: 1;
  }
}

/* @768 */
@media (max-width: 768px) {
  .nav-wrapper {
    flex-flow: row wrap;
    padding: 16px;
    min-height: 128px;
    justify-content: space-between;
    align-content: space-between;
  }

  .nav-wrapper .menu-group {
    order: 1;
    min-width: 390px;
  }

  .nav-wrapper .donate-btn {
    margin-right: 32px;
    width: 140px;
    height: 48px;
  }

  .banner-1 .container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .banner-1 .container .banner-right {
    transform: translate(-120px, 80px);
    width: 161px;
    height: 116px;
    font-size: 3rem;
    display: inline-block;
  }
  .banner-1 .container .banner-left {
    position: relative;
    top: 70px;
    width: 90%;
    height: 309px;
  }
  .banner-1 .banner-left h1 {
    margin: 0 auto;
    font-size: 2.5rem;
  }
  .banner-1 p {
    font-size: 1.1rem;
  }

  .artboard .posts-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .artboard .post {
    margin-bottom: 3rem;
  }
  .artboard .container .label {
    margin: 0 auto;
  }
  .artboard .container > h1 {
    font-size: 1rem;
    text-align: center;
  }
  .artboard .post-img img {
    width: 240px;
  }
  .artboard .post-content {
    text-align: center;
  }
  .didyouknow .container {
    flex-direction: column;
    justify-content: space-around;
  }

  .didyouknow .container .left-side {
    margin-bottom: 6rem;
  }
  .stories .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .stories .container .posts-wrapper {
    order: 1;
  }

  .action-banner .container .wrapper .top {
    flex-direction: column;
    align-items: center;
  }
  .action-banner .container .wrapper .bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .action-banner .container .wrapper .top .topright-content h1 {
    margin: 2rem auto;
    text-align: center;
  }
  .action-banner .container .wrapper .top .topright-content .label {
    margin: 2rem auto;
  }
  .action-banner .container .wrapper .top .topright-content p {
    margin: 2rem auto;
    text-align: center;
  }
  .action-banner .container .wrapper .bottom .bottomleft-content h1 {
    width: fit-content;
    text-align: center;
  }
  .action-banner .container .wrapper .bottom .bottomleft-content .label {
    margin: 2rem auto;
  }
  .action-banner .container .wrapper .bottom .bottomleft-content p {
    margin: 2rem auto;
    text-align: center;
  }
  .action-banner .container .wrapper .top .topright-content button {
    margin-left: 1.8rem;
  }
  .action-banner .container .wrapper .bottom .bottomleft-content button {
    margin-left: 1.8rem;
  }
}
/* 543 */
@media (max-width: 543px) {
  .actions .container {
    padding: 10px 8px;
  }
  .actions .container .action-item {
    width: 180px;
  }
  .actions .container .action-item h1 {
    font-size: 1.2rem;
  }
  .actions .container .action-item p {
    font-size: 0.9rem;
  }
}
/* @481 */
@media (max-width: 481px) {
  .nav-wrapper {
    justify-content: space-around;
  }

  .nav-wrapper #title {
    width: 160px;
    font-size: 1rem;
  }

  .nav-wrapper .donate-btn {
    order: 1;
  }

  .nav-wrapper .menu-group {
    min-width: 100px;
    order: 0;
  }

  .nav-wrapper .menu-group ul {
    font-size: 1rem;
    line-height: 1.8;
    flex-direction: column;
  }
  .nav-wrapper .donate-btn {
    width: 302px;
    height: 40px;
    margin: 20px auto;
  }

  .banner-1 .container .banner-right {
    transform: translate(20px, 60px);
    font-size: 2rem;
  }
  .banner-1 .container .banner-left {
    width: 312px;
    height: 220px;
  }
  .banner-1 .banner-left h1 {
    height: fit-content;
    font-size: 1.2rem;
    padding: 20px 35px;
    text-align: center;
  }
  .banner-1 p {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 50px;
  }

  .banner-1 .container .banner-left .label {
    position: relative;
    top: -15px;
    left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    background-color: #354463;
    color: #fff;
    font-size: 0.6rem;
  }
  .actions .container {
    height: 328px;
    padding: 10px 8px;
  }
  .actions .container .action-item {
    width: 170px;
  }

  .actions .container .action-item h1 {
    font-size: 1.1rem;
  }
  .actions .container .action-item p {
    font-size: 0.9rem;
  }
  .artboard .container > h1 {
    font-size: 1.4rem;
  }

  .main .container {
    align-items: center;
    flex-direction: column;
  }
  .main .container > h1 {
    order: 0;
  }
}

/* @320 */
@media (max-width: 320px) {
  .nav-wrapper {
    flex-direction: column;
  }
  .nav-wrapper .donate-btn {
    width: 282px;
    height: 40px;
    margin-bottom: 10px;
  }

  .nav-wrapper #title {
    text-align: center;
  }
  .nav-wrapper .menu-group ul {
    text-align: center;
  }

  .banner-1 .container .banner-left {
    width: 282px;
    margin: 0 auto;
    height: 220px;
  }

  .banner-1 .container .banner-right {
    transform: translate(50px, 50px);
    font-size: 2rem;
  }

  .banner-1 .container .banner-left .label {
    position: relative;
    left: 80px;
  }

  .actions .container .action-item {
    width: 120px;
    padding: 0px 0px;
  }
}
